<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cache" class="ru.otus.l15.cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="1000"></constructor-arg>
        <constructor-arg name="lifeTimeMs" value="0"></constructor-arg>
        <constructor-arg name="idleTimeMs" value="0"></constructor-arg>
        <constructor-arg name="isEternal" value="1"></constructor-arg>
    </bean>

    <bean id="messageSystem" class="ru.otus.l15.messageSystem.MessageSystem"/>

    <bean id="messageSystemContext" class="ru.otus.l15.app.MessageSystemContext">
        <constructor-arg ref="messageSystem"/>
    </bean>

    <bean id="dbService" class="ru.otus.l15.db.DBHelper" factory-method="initDB">
        <constructor-arg ref="messageSystemContext"/>
        <constructor-arg name="address" value="DBService"></constructor-arg>
        <constructor-arg ref="cache"/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.l15.servlet.TemplateProcessor"/>

    <bean id="frontendService" class="ru.otus.l15.app.FrontendServiceImpl">
        <constructor-arg ref="messageSystemContext"/>
        <constructor-arg name="address" value="FrontendService"></constructor-arg>
    </bean>

</beans>